* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  position: relative;
  border: 1px dashed #959697;
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;
}

.row::before, .row::after {
  content: " ";
  display: table;
  clear: both;
}

.col-xs-1 {
  float: left;
  width: 5%;
  border: 1px dashed #959697;
}

.col-xs-2 {
  float: left;
  width: 10%;
  border: 1px dashed #959697;
}

.col-xs-3 {
  float: left;
  width: 15%;
  border: 1px dashed #959697;
}

.col-xs-4 {
  float: left;
  width: 20%;
  border: 1px dashed #959697;
}

.col-xs-5 {
  float: left;
  width: 25%;
  border: 1px dashed #959697;
}

.col-xs-6 {
  float: left;
  width: 30%;
  border: 1px dashed #959697;
}

.col-xs-7 {
  float: left;
  width: 35%;
  border: 1px dashed #959697;
}

.col-xs-8 {
  float: left;
  width: 40%;
  border: 1px dashed #959697;
}

.col-xs-9 {
  float: left;
  width: 45%;
  border: 1px dashed #959697;
}

.col-xs-10 {
  float: left;
  width: 50%;
  border: 1px dashed #959697;
}

.col-xs-11 {
  float: left;
  width: 55%;
  border: 1px dashed #959697;
}

.col-xs-12 {
  float: left;
  width: 60%;
  border: 1px dashed #959697;
}

.col-xs-13 {
  float: left;
  width: 65%;
  border: 1px dashed #959697;
}

.col-xs-14 {
  float: left;
  width: 70%;
  border: 1px dashed #959697;
}

.col-xs-15 {
  float: left;
  width: 75%;
  border: 1px dashed #959697;
}

.col-xs-16 {
  float: left;
  width: 80%;
  border: 1px dashed #959697;
}

.col-xs-17 {
  float: left;
  width: 85%;
  border: 1px dashed #959697;
}

.col-xs-18 {
  float: left;
  width: 90%;
  border: 1px dashed #959697;
}

.col-xs-19 {
  float: left;
  width: 95%;
  border: 1px dashed #959697;
}

.col-xs-20 {
  float: left;
  width: 100%;
  border: 1px dashed #959697;
}

[class*="col-"] {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .col-sm-1 {
    float: left;
    width: 5%;
    border: 1px dashed #959697;
  }
  .col-sm-2 {
    float: left;
    width: 10%;
    border: 1px dashed #959697;
  }
  .col-sm-3 {
    float: left;
    width: 15%;
    border: 1px dashed #959697;
  }
  .col-sm-4 {
    float: left;
    width: 20%;
    border: 1px dashed #959697;
  }
  .col-sm-5 {
    float: left;
    width: 25%;
    border: 1px dashed #959697;
  }
  .col-sm-6 {
    float: left;
    width: 30%;
    border: 1px dashed #959697;
  }
  .col-sm-7 {
    float: left;
    width: 35%;
    border: 1px dashed #959697;
  }
  .col-sm-8 {
    float: left;
    width: 40%;
    border: 1px dashed #959697;
  }
  .col-sm-9 {
    float: left;
    width: 45%;
    border: 1px dashed #959697;
  }
  .col-sm-10 {
    float: left;
    width: 50%;
    border: 1px dashed #959697;
  }
  .col-sm-11 {
    float: left;
    width: 55%;
    border: 1px dashed #959697;
  }
  .col-sm-12 {
    float: left;
    width: 60%;
    border: 1px dashed #959697;
  }
  .col-sm-13 {
    float: left;
    width: 65%;
    border: 1px dashed #959697;
  }
  .col-sm-14 {
    float: left;
    width: 70%;
    border: 1px dashed #959697;
  }
  .col-sm-15 {
    float: left;
    width: 75%;
    border: 1px dashed #959697;
  }
  .col-sm-16 {
    float: left;
    width: 80%;
    border: 1px dashed #959697;
  }
  .col-sm-17 {
    float: left;
    width: 85%;
    border: 1px dashed #959697;
  }
  .col-sm-18 {
    float: left;
    width: 90%;
    border: 1px dashed #959697;
  }
  .col-sm-19 {
    float: left;
    width: 95%;
    border: 1px dashed #959697;
  }
  .col-sm-20 {
    float: left;
    width: 100%;
    border: 1px dashed #959697;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    float: left;
    width: 5%;
    border: 1px dashed #959697;
  }
  .col-md-2 {
    float: left;
    width: 10%;
    border: 1px dashed #959697;
  }
  .col-md-3 {
    float: left;
    width: 15%;
    border: 1px dashed #959697;
  }
  .col-md-4 {
    float: left;
    width: 20%;
    border: 1px dashed #959697;
  }
  .col-md-5 {
    float: left;
    width: 25%;
    border: 1px dashed #959697;
  }
  .col-md-6 {
    float: left;
    width: 30%;
    border: 1px dashed #959697;
  }
  .col-md-7 {
    float: left;
    width: 35%;
    border: 1px dashed #959697;
  }
  .col-md-8 {
    float: left;
    width: 40%;
    border: 1px dashed #959697;
  }
  .col-md-9 {
    float: left;
    width: 45%;
    border: 1px dashed #959697;
  }
  .col-md-10 {
    float: left;
    width: 50%;
    border: 1px dashed #959697;
  }
  .col-md-11 {
    float: left;
    width: 55%;
    border: 1px dashed #959697;
  }
  .col-md-12 {
    float: left;
    width: 60%;
    border: 1px dashed #959697;
  }
  .col-md-13 {
    float: left;
    width: 65%;
    border: 1px dashed #959697;
  }
  .col-md-14 {
    float: left;
    width: 70%;
    border: 1px dashed #959697;
  }
  .col-md-15 {
    float: left;
    width: 75%;
    border: 1px dashed #959697;
  }
  .col-md-16 {
    float: left;
    width: 80%;
    border: 1px dashed #959697;
  }
  .col-md-17 {
    float: left;
    width: 85%;
    border: 1px dashed #959697;
  }
  .col-md-18 {
    float: left;
    width: 90%;
    border: 1px dashed #959697;
  }
  .col-md-19 {
    float: left;
    width: 95%;
    border: 1px dashed #959697;
  }
  .col-md-20 {
    float: left;
    width: 100%;
    border: 1px dashed #959697;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    float: left;
    width: 5%;
    border: 1px dashed #959697;
  }
  .col-lg-2 {
    float: left;
    width: 10%;
    border: 1px dashed #959697;
  }
  .col-lg-3 {
    float: left;
    width: 15%;
    border: 1px dashed #959697;
  }
  .col-lg-4 {
    float: left;
    width: 20%;
    border: 1px dashed #959697;
  }
  .col-lg-5 {
    float: left;
    width: 25%;
    border: 1px dashed #959697;
  }
  .col-lg-6 {
    float: left;
    width: 30%;
    border: 1px dashed #959697;
  }
  .col-lg-7 {
    float: left;
    width: 35%;
    border: 1px dashed #959697;
  }
  .col-lg-8 {
    float: left;
    width: 40%;
    border: 1px dashed #959697;
  }
  .col-lg-9 {
    float: left;
    width: 45%;
    border: 1px dashed #959697;
  }
  .col-lg-10 {
    float: left;
    width: 50%;
    border: 1px dashed #959697;
  }
  .col-lg-11 {
    float: left;
    width: 55%;
    border: 1px dashed #959697;
  }
  .col-lg-12 {
    float: left;
    width: 60%;
    border: 1px dashed #959697;
  }
  .col-lg-13 {
    float: left;
    width: 65%;
    border: 1px dashed #959697;
  }
  .col-lg-14 {
    float: left;
    width: 70%;
    border: 1px dashed #959697;
  }
  .col-lg-15 {
    float: left;
    width: 75%;
    border: 1px dashed #959697;
  }
  .col-lg-16 {
    float: left;
    width: 80%;
    border: 1px dashed #959697;
  }
  .col-lg-17 {
    float: left;
    width: 85%;
    border: 1px dashed #959697;
  }
  .col-lg-18 {
    float: left;
    width: 90%;
    border: 1px dashed #959697;
  }
  .col-lg-19 {
    float: left;
    width: 95%;
    border: 1px dashed #959697;
  }
  .col-lg-20 {
    float: left;
    width: 100%;
    border: 1px dashed #959697;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    float: left;
    width: 5%;
    border: 1px dashed #959697;
  }
  .col-xl-2 {
    float: left;
    width: 10%;
    border: 1px dashed #959697;
  }
  .col-xl-3 {
    float: left;
    width: 15%;
    border: 1px dashed #959697;
  }
  .col-xl-4 {
    float: left;
    width: 20%;
    border: 1px dashed #959697;
  }
  .col-xl-5 {
    float: left;
    width: 25%;
    border: 1px dashed #959697;
  }
  .col-xl-6 {
    float: left;
    width: 30%;
    border: 1px dashed #959697;
  }
  .col-xl-7 {
    float: left;
    width: 35%;
    border: 1px dashed #959697;
  }
  .col-xl-8 {
    float: left;
    width: 40%;
    border: 1px dashed #959697;
  }
  .col-xl-9 {
    float: left;
    width: 45%;
    border: 1px dashed #959697;
  }
  .col-xl-10 {
    float: left;
    width: 50%;
    border: 1px dashed #959697;
  }
  .col-xl-11 {
    float: left;
    width: 55%;
    border: 1px dashed #959697;
  }
  .col-xl-12 {
    float: left;
    width: 60%;
    border: 1px dashed #959697;
  }
  .col-xl-13 {
    float: left;
    width: 65%;
    border: 1px dashed #959697;
  }
  .col-xl-14 {
    float: left;
    width: 70%;
    border: 1px dashed #959697;
  }
  .col-xl-15 {
    float: left;
    width: 75%;
    border: 1px dashed #959697;
  }
  .col-xl-16 {
    float: left;
    width: 80%;
    border: 1px dashed #959697;
  }
  .col-xl-17 {
    float: left;
    width: 85%;
    border: 1px dashed #959697;
  }
  .col-xl-18 {
    float: left;
    width: 90%;
    border: 1px dashed #959697;
  }
  .col-xl-19 {
    float: left;
    width: 95%;
    border: 1px dashed #959697;
  }
  .col-xl-20 {
    float: left;
    width: 100%;
    border: 1px dashed #959697;
  }
}

.hidden {
  display: none;
}

@media (min-width: 576px) {
  .sm-hidden {
    display: none;
  }
  .sm-display-i {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .md-hidden {
    display: none;
  }
  .md-display-i {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .lg-hidden {
    display: none;
  }
  .lg-display-i {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .xl-hidden {
    display: none;
  }
  .xl-display-i {
    display: inline-block;
  }
}
/*# sourceMappingURL=main.css.map */